* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f0f1f1;
}

header {
    width: 100%;
    height: 60px;
    background: white;
}

main {
    display: flex;
    width: 100%;
}

.main-img {
    width: 40%;
}

.main-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    width: 40%;
    display: block;
    padding: 30px;
}

h1 {
    font-size: 38px;
}

#subtitle {
    margin-top: 7px;
    font-size: 20px;
    color: #bb6d4d;
    letter-spacing: 1px;
}

#text {
    margin-top: 30px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.3;
}

#link {
    margin-top: 30px;
    font-size: 18px;
    letter-spacing: 1px;
}

#link a {
    color: #bb6d4d;
}

#button-main {
    margin-top: 30px;
    padding: 10px 30px;
    color: #bb6d4d;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    border-color: #bb6d4d;
    border-style: solid;
    border-radius: 20px;
}

#button-main:hover {
    background: #bb6d4d;
    color: white;
    cursor: pointer;
}

.blocks {
    display: flex;
    justify-content: space-between;
}

.block {
    width: 40%;
    display: block;
    padding: 30px 0 30px 0;
}

.block img {
    width: 60px;
    height: 60px;
}

.block-name {
    margin-top: 18px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
.block-text {
    margin-top: 18px;
    font-style: italic;
    line-height: 1.3;
    letter-spacing: 1px;

}

.block button {
    margin-top: 15px;
    color: #bb6d4d;
    border: none;
    border-bottom: 2px #bb6d4d solid;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.3;
}

.block button:hover {
    cursor: pointer;
    color: #c7896f;
    border-bottom: 2px #c7896f solid;
}

footer {
    width: 100%;
    background: #333333;
    display: block;
    color: white;
}

#foot1 {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 20px;
}

.running-title {
    padding: 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 22px;
    margin-bottom: 20px;
}

#foot1 p{
    text-align: center;
}

#foot2 {
    width: 100%;
    text-align: center;
    margin: 80px 0 40px;
    font-size: 16px;
}

#foot2 a {
    color: #bb6d4d;
}

@media (min-width: 769px) and (max-width: 1300px) {
    #foot1 {
        justify-content: space-around;
    }
}

@media (min-width : 526px) and (max-width : 768px) {
    #foot1 {
        justify-content: space-around;
    }
    .running-title {
        padding: 0 10px 0;
    }
    main {
        display: flex;
        flex-direction: column;
    }
    .main-img {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .main-img img {
        width: 90%;
    }
    .content {
        width: 90%;
    }
}

@media (max-width : 580px) {
    main {
        display: flex;
        flex-direction: column;
    }
    .main-img {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .main-img img {
        width: 90%;
    }
    .content {
        width: 90%;
    }
    .blocks {
        display: block;
    }
    .block {
        width: 90%;
    }
    #text {
        margin-right: 20px;
    }
    #foot1 {
        display: flex;
        flex-direction: column;
    }
    .running-title {
        margin-top: 60px;
    }
}



